.hotels-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 99%;
  margin: 20px 0;
}

.hotel-list {
  height: 60%;
}

.hotels-card-body {
  display: flex;
  align-items: center;
}

.hotels-card-line {
  background: rgba(135 135 135 20%);
}

.hotels-card-favorite {
  position: absolute;
  right: 15px;
}

.hotels-card-price {
  position: absolute;
  right: 35px;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 13%;
  color: #878787;
  font-weight: 300;
  font-size: 11px;
}

.hotels-card-price-avg {
  color: #424242;
  font-weight: 400;
  font-size: 17px;
}

.hotels-card-name {
  color: #424242;
  font-weight: 300;
  font-size: 17px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.hotels-card-date {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-top: -2px;
  margin-bottom: 3px;
  color: #878787;
}
