.hotels-block {
  grid-area: C;
  height: 300px;
  margin: 20px;
}

.hotels-block-container {
  position: relative;
  width: 80vh;
  min-width: 664px;
  height: 80vh;
  padding: 32px;
  background-color: #fff;
  border-radius: 8px;
}

.hotels-block-container-title {
  color: #424242;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.hotels-block-container-title-pointer {
  color: #878787;
}

.hotels-block-container-date {
  position: absolute;
  top: 32px;
  right: 32px;
  color: #41522e;
  font-size: 24px;
  line-height: 28px;
}
